*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

/* Header and Navbar Styling */

header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
    /* height: 100%; */
    /* box-shadow: 3px 5px white; */
}



nav ul li {
    display: inline-block;
    color: rgb(135, 138, 143);
    text-align: center;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
}

nav li a{
    display: block;
    text-decoration: none;
    color:  rgb(135, 138, 143);
    padding: 5px;
}

nav li a:hover{
    color:rgb(110, 104, 104);
    border-bottom: 3px solid green;
}

#dropdown{
    display: none;
}

.bttn{
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 25px;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

/* Main Section Styling */

main{
    background-color: white;
    /* max-height: fit-content; */
    overflow: hidden;
    display: block;
}

main img{
    max-width: 100%;
}

.section-one{
    background-image: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.intro{
    width: 40%;
}

.intro h1{
    color: hsl(233, 26%, 24%);
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
}

.intro p{
    line-height: 25px;
    color: rgb(141, 144, 150);
    font-size: 16px;
    margin-bottom: 30px;
}

.section-two{
    background-color: hsl(0, 0%, 98%);
    margin-top: 30px;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.st-text h1{
    color: hsl(233, 26%, 24%);
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 25px;
}

.st-text p{
    color: hsl(233, 8%, 62%);
    line-height: 20px;
    margin-bottom: 15px;
}


.cards{
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 10px;
    justify-content: space-between;
    width: -webkit-fill-available;
    gap: 5px;
}

.cards h3{
    color: hsl(233, 26%, 24%);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

.cards p{
    line-height: 25px;
    color: rgb(141, 144, 150);
    font-size: 16px;
    margin-bottom: 30px;
}
.cards img{
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.section-three{
    align-items: start;
    background-color: hsl(0, 0%, 98%);
    height: fit-content;
}

#st-header h2{
    color: hsl(233, 26%, 24%);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}

.articles{
    display: flex;
    width: auto;
    gap: 20px;
    padding: 30px;
    align-items: start;
}


.article-content img{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
}

.article-content span{
    line-height: 20px;
    color:rgb(141, 144, 150) ;
    font-size: 12px;
    margin-bottom: 15px;
}

.article-content h3{
    color:hsl(233, 26%, 24%);
    font-size: 17px ;
    margin-bottom: 10px;
}

.article-content p{
    color: rgb(141, 144, 150);
    font-size: 15px;
    font-weight: 200;
}

.bg-img{
    position: relative;
}

.intro-img{
    position: absolute;
    top: 0;
}

/* Footer Styling */

footer{
    background-color:hsl(233, 26%, 24%);
    color: hsl(0, 0%, 98%);
    display: flex;
    height: fit-content;
    justify-content: space-around;
    padding-top: 30px;
}


.logo-icons ul li{
    text-decoration: none;
}

.logo-icons{
    display: block;
    gap: 15px;
}

.icons {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    list-style: none; 
}

.abt-us{
    list-style: none; 
    column-count: 2;
    column-gap: 10px;
    /* -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px; */
    /* column-count: 2;
    column-gap: 10px; */

}

.btn-copy p{
    text-align: justify;
    margin-top: 10px;
    font-size: 15px;
}





/* Responsive Design Styling */

@media only screen and (max-width: 375px) {
  
    
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Public Sans", sans-serif ;
}



body{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
}

header{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#dropdown{
    display: block;
}

nav ul li {
    display: block;
    padding: 1rem 2rem;
    color: rgb(186, 191, 199);
    text-decoration: none;
    transition: background-image 0.3s ease;}

.hidden{
    display: none;
}

nav{
    position: absolute;
    margin-top: 20px;
    width: 90%;
    z-index: 15;
    background-color: #fff;
    top: 20px;
    border-radius: 5px;
    box-shadow: 5px 100px 600px rgba(0, 0, 0, 0.9);
    justify-items: center;
    align-items: center;
    transition: all;
    transition-delay: 2s;
}

img{
    max-width: 100%;
}

.section-one{
    align-items: center;
    flex-direction:column-reverse;
    justify-content: space-around;
}

.intro{
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.section-two{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.section-two h1{
    text-align: center;
}
.st-text p{
    text-align: center;
}


.cards{
    display: grid;
}

.card-content{
    align-items: center;
    text-align: center;
}

#st-header{
    text-align: center;
    align-items: center;
    /* font-size: 15px; */
}

.articles{
    display: block;
}

.articles p {
    margin-bottom: 10px;
}

footer{
    display: block;
    text-align: center;
}

.icons{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.abt-us{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    }

.btn-copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
}



 }